<div class="card text-center">
  <div class="card-body">
    <h1>Add new board.</h1>
  </div>
  <form *ngIf="formCreateCard" [formGroup]="formCreateCard" (ngSubmit)="createCard()">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Title</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="title">
    </div>
    <div *ngIf="title?.invalid && (title?.dirty || title?.touched)" class="alert">
      <div *ngIf="title?.errors?.['required']" class="text-danger">
        Không được để trống
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Content</label>
      <input type="text" class="form-control" id="exampleInputPassword1" formControlName="contents">
    </div>
    <div *ngIf="content?.invalid && (content?.dirty || content?.touched)" class="alert">
      <div *ngIf="content?.errors?.['required']" class="text-danger">
        Không được để trống
      </div>
    </div>


    <button type="submit" class="btn btn-primary" [disabled]="!formCreateCard.valid">Submit</button>
  </form>

</div>
