<h3>Thay đổi ảnh đại diện</h3>
<form *ngIf="formUpdateImage" [formGroup]="formUpdateImage" (ngSubmit)="update()">
  <label class="hoverable" style="margin: auto" for="fileInput">
    <img src="{{avatar}}">
    <div class="hover-text" style="font-size: 18px">Choose file</div>
    <div class="background"></div>
  </label>
  <br/>
  <input id="fileInput" type='file' (change)="onFileSelected($event)">
  <div style="margin: auto">
    <button type="submit" mat-raised-button color="primary">Thay đổi</button>
  </div>
</form>
<button mat-button (click)="onCancel()">Đóng</button>
