<h3>Các thành viên trong bảng ({{ users.length }})</h3>
<table class="table">
    <tr *ngFor="let u of users;index as i">
      <td><img src="{{ u.user.avatar }}" width="50px">   {{ u.user.name }}</td>
      <td>
          <form *ngIf="formChangeRole" [formGroup]="formChangeRole">
            <select *ngIf="role == 1" (change)="changeRole(u.id,u.role)" formControlName="role">
              <option *ngIf="u.role == 1" value="1" selected value="2">Quản trị viên</option>
              <option *ngIf="u.role == 2" value="2" selected value="2">Chỉnh sửa</option>
              <option *ngIf="u.role == 3" value="3" selected value="2">Chỉ xem</option>
              <option *ngIf="u.role != 1" value="1">Quản trị viên</option>
              <option *ngIf="u.role != 2" value="2">Chỉnh sửa</option>
              <option *ngIf="u.role != 3" value="3">Chỉ xem</option>
            </select>
          </form>
        <div *ngIf="role == 2 || role == 3">
            <div *ngIf="u.role ==1" style="margin-top: -4%"><strong>Quản trị viên</strong></div>
            <div *ngIf="u.role ==2" style="margin-top: -4%"><strong>Chỉnh sửa</strong></div>
            <div *ngIf="u.role ==3" style="margin-top: -4%"><strong>Chỉ xem</strong></div>
        </div>
        </td>
        <td *ngIf="role == 1"><a (click)="confirmDeleteUser(u.id,u.role,i)"><i class="fas fa-trash-alt"></i></a></td>
      </tr>
</table>
