<div cdkDropList cdkDropListOrientation="horizontal" class="example-list " (cdkDropListDropped)="drip($event)">
  <div cdkDropListGroup class="collect">
    <div *ngFor="let ar of listCards,let i = index" cdkDrag>
      <div class="example-container">
        <h2>{{lists[i].title}}</h2>
        <div
          cdkDropList
          [cdkDropListData]="ar"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box cdk-drag-preview2" *ngFor="let item of ar" cdkDrag>
            <button class=" btn btn-outline-danger" style="width: 100%;height: 100%" (click)="openDialogDetailCard(item.id)">{{item.title}}</button>
          </div>
             <button class=" btn btn-outline-success " style="width: 100%;height: 100%" (click)="openDialogCreateCard(lists[i].id)"><span class="glyphicon">&#x2b;</span></button>
        </div>
      </div>
    </div>
    <div class="example-container mt-5">
      <div
        class="example-list ">
        <div class="text-center mt-3 mb-3">
          <a (click)="openDialogCreateList()"><span class="glyphicon">&#x2b;</span> Thêm danh sách
          </a>
        </div>
      </div>

    </div>
  </div>
</div>
