<h3>Thêm không gian làm việc</h3>
  <form *ngIf="formCreateGroup" [formGroup]="formCreateGroup" (ngSubmit)="createGroup()">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Tiêu đề</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="title">
    </div>
    <div *ngIf="title?.invalid && (title?.dirty || title?.touched)"  style="margin-top: -10px">
      <div *ngIf="title?.errors?.['required']" class="text-danger">
        * Không được để trống
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Chế độ</label>
      <select formControlName="policy" class="form-select" id="exampleInputPassword1" aria-label="Default select example">
        <option value="1">Công khai</option>
        <option value="2" selected >Riêng tư</option>
      </select>
    </div>
    <div *ngIf="policy?.invalid && (policy?.dirty || policy?.touched)"  style="margin-top: -10px">
      <div *ngIf="policy?.errors?.['required']" class="text-danger">
        * Không được để trống
      </div>
    </div>
    <button type="submit" mat-raised-button color="primary">Thêm mới</button>
    <button mat-button (click)="onCancel()">Đóng</button>
  </form>


