<div class="card text-center">
  <div class="card-body">
    <h1>Add new group.</h1>
  </div>
  <form *ngIf="formCreateGroup" [formGroup]="formCreateGroup" (ngSubmit)="createGroup()">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Title</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="title">
    </div>
    <div *ngIf="title?.invalid && (title?.dirty || title?.touched)" class="alert">
      <div *ngIf="title?.errors?.['required']" class="text-danger">
        Không được để trống
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Policy</label>
      <input type="text" class="form-control" id="exampleInputPassword1" formControlName="policy">
    </div>
    <div *ngIf="policy?.invalid && (policy?.dirty || policy?.touched)" class="alert">
      <div *ngIf="policy?.errors?.['required']" class="text-danger">
        Không được để trống
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!formCreateGroup.valid">Submit</button>
  </form>

</div>
