<body class="atlassian-brand bidi-highlight" data-analytics-screen="loginChoiceScreen"
  data-analytics-attributes="{ &quot;isMarketingEvent&quot;: true }">
  <div><img alt="Trello" class="trello-main-logo"
      src="https://d2k1ftgv7pobq7.cloudfront.net/meta/c/p/res/images/trello-header-logos/167dc7b9900a5b241b15ba21f8037cf8/trello-logo-blue.svg">
    <section class="inner-section">
      <div class="section-wrapper quick-switch">
        <div class="layout-twothirds-center account-form">
          <h1>Đăng nhập vào Trello</h1>
          <div class="text-danger">
            {{ errLogin }}
          </div>
          <div class="login-password-container">
            <form id="login-form" *ngIf="formLogin" [formGroup]="formLogin" class="user" (ngSubmit)="login()">
              <div class="login-password-container-email">
                <div class="email-password">
                  <div class="hide-when-two-factor"><input type="text" formControlName="email" id="user"
                      class="form-field" autocorrect="off" spellcheck="false" autocapitalize="off" autofocus="autofocus"
                      placeholder="Nhập email" value="" autocomplete="username" inputmode="email">
                    <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" style="margin-top: -10px">
                      <div *ngIf="email?.errors?.['required']" class="text-danger">
                        * Email không được để trống
                      </div>
                      <div *ngIf="email?.errors?.['email']" class="text-danger ">
                        * Email không đúng định dạng
                      </div>
                    </div>
                    <div id="password-entry" class="show-when-password">
                      <div style="position: relative">
                        <input [type]="show ? 'text' : 'password'" formControlName="password" id="password"
                          class="form-field" placeholder="Nhập mật khẩu" autocomplete="current-password">
                        <a style="position: absolute;top:30%;right:10px;color: #333" (click)="pwd()"><i
                            class="fa fa-eye"></i></a>
                      </div>

                      <div *ngIf="password?.invalid && (password?.dirty || password?.touched)"
                        style="margin-top: -10px">
                        <div *ngIf="password?.errors?.['required']" class="text-danger">
                          * Mật khẩu không được để trống
                        </div>
                      </div>
                    </div>
                  </div>
                  <button type="submit" id="login" class="button account-button button-green btn btn-success"
                    [disabled]="!formLogin.valid">Đăng nhập
                  </button>
                </div>
              </div>
            </form>
          </div>
          <hr class="bottom-form-separator">
          <ul class="bottom-form-link">
            <li>
              <p>Bạn chưa có tài khoản?</p>
            </li>
            <li><a class="signupLink" routerLink="/register" data-analytics-link="signUpLoginLink">Đăng
                ký tài khoản</a></li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</body>
