<body class="atlassian-brand bidi-highlight" data-analytics-screen="loginChoiceScreen"
  data-analytics-attributes="{ &quot;isMarketingEvent&quot;: true }">
  <div><img alt="Trello" class="trello-main-logo"
      src="https://d2k1ftgv7pobq7.cloudfront.net/meta/c/p/res/images/trello-header-logos/167dc7b9900a5b241b15ba21f8037cf8/trello-logo-blue.svg">
    <section class="inner-section">
      <div class="section-wrapper quick-switch">
        <div class="layout-twothirds-center account-form">
          <h1>Đổi mật khẩu</h1>
          <div class="text-danger">
            {{ errorChangePassword }}
          </div>
          <div class="login-password-container">
            <form id="login-form" *ngIf="formChangePassword" [formGroup]="formChangePassword" class="user"
              (ngSubmit)="onSubmit()">
              <div class="login-password-container-email">
                <div class="email-password">
                  <div class="hide-when-two-factor">
                    <div style="position: relative">
                      <input [type]="show ? 'text' : 'password'" formControlName="old_password"
                        class="form-field" autocorrect="off" spellcheck="false" autocapitalize="off"
                        autofocus="autofocus" placeholder="Nhập mật khẩu cũ" value="" autocomplete="username"
                        inputmode="email">
                      <a style="position: absolute;top:27%;right:10px;color: #333" (click)="password()"><i
                          class="fa fa-eye"></i></a>

                      <div *ngIf="oldPassword?.invalid && (oldPassword?.dirty || oldPassword?.touched)"  style="margin-top: -10px">
                        <div *ngIf="oldPassword?.errors?.['required']" class="text-danger">
                          * Vui lòng nhập mật khẩu cũ của bạn
                        </div>
                      </div>
                    </div>
                    <div style="position: relative">
                      <input [type]="show1 ? 'text' : 'password'" formControlName="new_password" id="name"
                        class="form-field" autocorrect="off" spellcheck="false" autocapitalize="off"
                        autofocus="autofocus" placeholder="Nhập mật khẩu mới" value="" autocomplete="username"
                        inputmode="email">
                      <a style="position: absolute;top:27%;right:10px;color: #333" (click)="password1()"><i
                          class="fa fa-eye"></i></a>

                      <div *ngIf="newPassword?.invalid && (newPassword?.dirty || newPassword?.touched)"  style="margin-top: -10px">
                        <div *ngIf="newPassword?.errors?.['required']" class="text-danger">
                          * Vui lòng nhập mật khẩu mới của bạn
                        </div>
                      </div>
                    </div>

                    <div id="password-entry" class="show-when-password" style="position: relative">
                      <input [type]="show2 ? 'text' : 'password'" formControlName="new_password_confirmation" id="confirmPassword"
                        class="form-field" placeholder="Nhập lại mật khẩu mới" autocomplete="current-password">
                        <a style="position: absolute;top:27%;right:10px;color: #333" (click)="password2()"><i
                          class="fa fa-eye"></i></a>
                      <div *ngIf="cfmPassword?.invalid && (cfmPassword?.dirty || cfmPassword?.touched)"  style="margin-top: -10px">
                        <div *ngIf="cfmPassword?.errors?.['required']" class="text-danger">
                          * Vui lòng nhập lại mật khẩu mới của bạn
                        </div>
                      </div>
                      <div class="text-danger"
                        *ngIf="formChangePassword.hasError('passwordnotmatch',['pwGroup']) && formChangePassword.get('pwGroup')?.touched"  style="margin-top: -10px">
                        * Mật khẩu xác nhận không đúng
                      </div>
                    </div>
                  </div>
                  <button type="submit" id="register" class="button account-button button-green btn btn-success"
                    [disabled]="!formChangePassword.valid">
                    Đổi mật khẩu
                  </button>
                </div>
              </div>
            </form>
          </div>
          <hr class="bottom-form-separator">
        </div>
      </div>
    </section>
  </div>
</body>
