.side{
  position: absolute;
  left: 350px;
}
.a{
  background-color: #091e420a;
  border: none;
  border-radius: 3px;
  box-shadow: none;
  display: inline-block;
  margin-bottom: 8px;
  margin-left: 8px;
  padding: 6px 12px 6px 6px;
  position: relative;
  text-decoration: none;
  color: #172b4d;
  cursor: pointer;
}




